body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 30vh; */
    background-color: #f5f5f5;
    /* font-family: 'Product Sans', sans-serif;                                    */
    font-family: 'Google Sans', sans-serif;                                   
}

#reset-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #0056b3;
}


.game-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.game-cell {
    transition: background-color 0.3s ease;
}

.game-cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.game-cell[data-value="1"] {
    background-color: red;
}

.game-cell[data-value="-1"] {
    background-color: yellow;
}

#game-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#game-board {
    position: relative;
    /* Add this line */
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    /* 10%  { transform: translate(0px, -1px) rotate(-1deg); } */
    20% {
        transform: translate(-2px, 0px) rotate(1deg);
    }

    /* 30%  { transform: translate(2px, 1px) rotate(0deg); } */
    40% {
        transform: translate(0px, 0px) rotate(1deg);
    }

    50% {
        transform: translate(0px, 1px) rotate(-1deg);
    }

    60% {
        transform: translate(-2px, 0px) rotate(0deg);
    }

    /* 70%  { transform: translate(2px, 0px) rotate(-1deg); } */
    80% {
        transform: translate(0px, 0px) rotate(1deg);
    }

    /* 90%  { transform: translate(0px, 1px) rotate(0deg); } */
    100% {
        transform: translate(0px, -1px) rotate(-1deg);
    }
}

.shake {
    animation: shake 0.3s;
    animation-iteration-count: 1;
}

#player-turn {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    margin: 5px auto;
    text-align: center;
    vertical-align: bottom;
    margin-right: 10px;
    background-color: red;
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 10;
}

.spinner::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

#game-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loading-wave {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #FA8D18;
    animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
    0% {
        transform: translateY(0);
        background-color: #FF6600;
    }

    50% {
        transform: translateY(-10px);
        background-color: #FA8D18;
    }

    100% {

        transform: translateY(0);
        background-color:  #f5b32f;
    }
}

.ball:nth-child(2) {
    animation-delay: -0.2s;
}

.ball:nth-child(3) {
    animation-delay: -0.4s;
}

.ball:nth-child(4) {
    animation-delay: -0.6s;
}

.ball:nth-child(5) {
    animation-delay: -0.8s;
}

/* .choice-option {
    position: relative;
} */


.choice-option p {
    /* position: relative; */
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 5px;
    margin-right: 10px; /* adjust this value as needed */
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}


.choice-option:hover {
    cursor: pointer;
    transform: scale(1.1);
}
