<!DOCTYPE html>
<html>
<head>
    <title>Connect 4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center" style="padding-top: 2vh;">
        <h1>Connect4</h1>
        <div id="game-board" class="mt-5">
            {% for row in game %}
                <div class="game-row d-flex justify-content-center">
                    {% for cell in row %}
                        <div class="game-cell" data-value="{{ cell }}" data-x="{{ loop.index }}"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <button id="reset-button" class="btn btn-primary mt-3" style="display: none;">Reset Game</button>
        <div id="message" class="mt-3" style="display: none;"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
