<!DOCTYPE html>
<html>

<head>
    <title>Connect 4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link  rel="stylesheet" href="https://fonts.cdnfonts.com/css/product-sans"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mortezaom/google-sans-cdn@master/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <div class="container d-flex flex-column justify-content-center align-items-center" style="padding-top: 2vh;">
        <h1><span id="player-turn"></span>Connect4</h1>
        <!-- Bootstrap Modal -->
        <div id="startModal" class="modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Who goes first?</h5>
                    </div>
                    <div class="modal-body text-center d-flex justify-content-around">
                        <div class="choice-option" id="player-first" data-choice="player">
                            <img src="/static/images/player.png" alt="Player">
                            <p>Player</p>
                        </div>
                        <div class="choice-option" id="ai-first" data-choice="ai">
                            <img src="/static/images/ai.png" alt="AI">
                            <p style="text-align: left;">AI Agent</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div id="game-board" class="mt-5">
            {% for row in game %}
            <div class="game-row d-flex justify-content-center">
                {% for cell in row %}
                <div class="game-cell" data-value="{{ cell }}" data-x="{{ loop.index }}"></div>
                {% endfor %}
            </div>
            {% endfor %}
            <canvas id="game-canvas" style="position: absolute; top: 0; left: 0; z-index: 10;"></canvas>
            <div id="game-overlay"></div>
        </div>
        <div id="loading" style="display: none;">
            <div class="loading-wave">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>

        <button id="reset-button" class="btn btn-primary mt-3" style="display: none;">Reset Game</button>
        <div id="message" class="mt-3" style="display: none;"></div>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>